*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container nav {
    background-color: rgba(0, 0, 0, 0.212);
}
nav .nav-link ul {
    list-style-type: none;
}