*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container nav {
    background-color: rgba(0, 0, 0, 0.774);
    display: flex;
}
.hero nav .nav-link {
    display: flex;
    position: relative;
}
.hero nav .nav-link ul {
    list-style-type: none;
    position: absolute;
    display: flex;
    gap: 3rem;
}
.hero nav .nav-link ul a {
    text-decoration: none;
}