*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container nav {
    background-color: rgba(0, 0, 0, 0.774);
    display: flex;
    padding: 20px;
}
.logo {
    margin-left: 70px;
    color: white;
    font-size: 25px;
}
.hero nav .nav-link {
    display: flex;
    margin-left: 900px;
}
.hero nav .nav-link ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
}
.hero nav .nav-link ul a {
    text-decoration: none;
    color: white;
}
.hero .hero-body {
    background-color: rgba(137, 43, 226, 0.603);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    text-align: center;
}
.hero .hero-body .head {
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.hero .hero-body .sub {
    color: white;
}